*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --light-grey :#757575;
    --violet-LG : linear-gradient(180deg, #625bf7 0%, #463eea 100%);;
    --border : 1px solid #dedede;
}

a{
    text-decoration: none;
    color: blue;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.page{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9fafc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
button{
    margin-top: 20px;
    background: var(--violet-LG);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}